{{!-- <div class="card showdow">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h1>Express Bao Dien Tu</h1>
    </div>
</div> --}}

<div class="card shadow mt-3">
    <h4 class="card-header"> Danh Sách bài viết</h4>
    <div class="card-body">
        <div class="row">
            {{#each this.baiviets}}
                <div class="col-sm-4">
                <div class="card h-75">
                    <div class="card-header">
                        {{TieuDe}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{TomTat}}</h5>
                        <p class="card-text">{{NoiDungBaiViet}}</p>
                        <p class="card-text">Chuyên mục: {{ChuyenMuc}}</p>
                        <p class="card-text">Ngày đăng: {{NgayDang}}</p>
                    </div>
                    <div class="card-footer text-muted">
                        Lượt xem : {{LuotXem}}
                    </div>
                </div>
                </div>
            {{/each}}
        </div>

    </div>
</div>
