<div class="card shadow mt-3">
    <h4 class="card-header"> Danh Sách bài viết</h4>
    <div class="card-body">
        <div class="row">
            {{#each this.baiviets}}
                <div class="col-sm-4"> 
                <div class="card h-75">
                    <div class="card-header">
                        {{TieuDe}}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{TomTat}}</h5>
                        <p class="card-text">Chuyên mục: {{IdChuyenMucCap1}}</p>
                        <p class="card-text">Ngày đăng: {{NgayDang}}</p>
                        <p class="card-text"> Lượt xem : {{LuotXem}}</p>
                    </div>
                    <div class="card-footer text-center">
                    <a class="btn btn-primary btn-sm" href="baiviets/chitiet/{{IdBaiViet}}" role="button">
                       <i class="fas fa-plus" aria-hidden="true">Xem chi tiết</i>
                    </a>
                    </div>
                </div>
                </div>
            {{/each}}
        </div>
        <div class="row">
            <div class="col-sm-12">
                <nav aria-label="...">
                    <ul class="pagination">
                        {{#each this.pages}}  
                            {{#if active}}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="javascript:;">{{values}}<span class="sr-only">(current)</span></a>
                                </li>
                            {{else}}
                                 <li class="page-item"><a class="page-link" href="?page={{values}}">{{values}}</a></li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>