

{{#section 'js'}}
    <script src="https://cdn.tiny.cloud/1/2s1gqwpaz5ggbjmvmdkjo3b97b6l5jhmq1lx4viy65jrmml9/tinymce/5/tinymce.min.js"></script>
    <script>
        $(function() {
            tinymce.init({
                selector:'#txtBaiVietMoi',
                height: 400,
                menubar: false,
                plugins: 'paste image link autolink lists table media',
                toolbar: [
                    'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                    'forecolor backcolor',
                    'table link image media',
                ],
                });
        })
        $(function() {
            tinymce.init({
                selector:'#txtAnhDaiDien',
                height: 200,
                menubar: false,
                plugins: 'paste image link autolink lists table media',
                toolbar: [
                    'table link image media',
                ],
                });
        })
        $(function() {
            tinymce.init({
                selector:'#txtTomTat',
                height: 400,
                menubar: false,
                plugins: 'paste image link autolink lists table media',
                toolbar: [
                    'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                    'forecolor backcolor',
                    'table link image media',
                ],
                });
        })
    </script>
{{/section}}


<div class="shadow" >
    <h4 class="card-header" >
        Chỉnh sữa bài viết
    </h4>
    <div class="card-body">
        <form method="POST" action="/Writer/update">
            <div class="contain" >
                <div class="row">
                   <div class="form-group col-3">
                <label>ID Bài viết</label>
                <input readonly type="text" id="txtId" name="IdBaiViet" value="{{this.baiviet.IdBaiViet}}">
            </div>
            <div class="form-group col-3">
                <label>Tiêu đề:</label>
                <input type="text" id="txtTieuDe" name="TieuDe" value="{{{this.baiviet.TieuDe}}}">
            </div>
            <div class="form-group col-3">
                <label>Chuyên mục:</label>
                <select id="chuyenmuccap1" name="IdChuyenMucCap1">
                    {{#each lcchuyenmuc1s}}
                    <option value="{{IdChuyenMucCap1}}">{{TenChuyenMucCap1}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-3">
                <label>Loại bài viết:</label>
                <select id="txtLoaiBaiViet" name="LoaiBaiViet">
                    <option value="Thường">Thường</option>
                    <option value="Premium">Premium</option>
                </select>
            </div>
                </div>
            </div>
            <div class="form-group">
                <label>Ảnh đại diện:</label>
                <textarea type="textarea" class="form-control" id="txtAnhDaiDien" name="AnhDaiDien">{{{this.baiviet.AnhDaiDien}}}</textarea>
            </div>
            <div class="form-group">
                <label>Tóm tắt nội dung:</label>
                <textarea type="textarea" class="form-control" id="txtTomTat" name="TomTat">{{{this.baiviet.TomTat}}}</textarea>
            </div>
            <div class="form-group">
                <label>Nội dung bào viết:</label>
                <textarea type="textarea" class="form-control" id="txtBaiVietMoi" name="NoiDungBaiViet">{{{this.baiviet.NoiDungBaiViet}}}</textarea>
            </div>
            <a class="btn btn-primary" href="/Writer" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-check" aria-hidden="true"></i>
                Save
            </button>
        </form>
    </div>
</div>

